.serie-card:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.serie-card {
  overflow: hidden;
}
.is-rounded {
  font-size: 15px;
}
.image_baner {
  width: 100%;
  margin-top: -50px;
  position: absolute;
  opacity: 0.1;
  margin-left: -23px;
}

@media (max-width: 999px) {
  .image_baner {
    display: none;
  }
}
.item_nav {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.item_nav:hover .item_nav:focus {
  background-size: 100% 2px;
}
