i {
  white-space: nowrap;
  overflow-x: hidden;
}
h2 {
  display: inline-block;
  margin-left: 7px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 240px;
}

@media (min-width: 1000px) {
  .container_comments {
    width: calc(100% - 2px);
  }
  .container-home {
    display: flex;
  }
  .sidebar-home li {
    width: 300px;
    padding: 1px 2px;
    margin-left: -55px;
  }
  .sidebar-home li a:hover h2 {
    color: #00f4f8;
  }
  .sidebar-home {
    display: inline-block;
  }
  .recien-agregados {
    display: inline-block;
  }
  .proximos {
    display: inline-block;
    width: 50%;
    position: absolute;
    margin-left: 220px;
  }
  .serie-card {
    margin-left: 5px !important;
  }
  .container-li-sidebar {
    border-radius: 7px;
    height: 800px;
  }

  .recien-agregados .list-series article {
    border-radius: 10px;
    position: relative;
    width: calc(200px - 2px);
    margin-left: 4px 5px;
  }
  .proximos .list-series article {
    border-radius: 10px;
    position: relative;
    width: calc(200px - 2px);
    margin-left: 4px 5px;
  }

  .title-home {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    display: block !important;
  }
  .show-sidebar {
    display: none;
  }
  .side-desktop .container-li-sidebar li {
    position: relative;
    border-bottom: 1px solid #363636;
  }
  .side-desktop .container-li-sidebar li a {
    width: 100%;
    margin: 5px;
    display: block;
  }
  .tipo {
    position: absolute;
    right: -10px;
    background-color: #00fbff;
    color: #161616 !important;
    font-weight: 700;
    font-size: 14px !important;
    border-radius: 10px;
    padding: 2px;
  }
  .tipo-screen {
    position: absolute;
    right: -10px;
    background-color: #d9ff00;
    color: #020202 !important;
    font-weight: 700;
    font-size: 14px !important;
    border-radius: 10px;
    padding: 2px;
  }
  .side-desktop .container-li-sidebar li:first-child {
    text-align: center;

    border-radius: 7px 7px 0 0px;
  }
  .side-desktop {
    display: block !important ;
  }
  .sidebar-home {
    display: none;
  }
  .title-sidebar-emisiones {
    width: 100%;
    padding: 5px 0;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: rgba(107, 107, 107, 0.4) !important;
  }
}
@media (max-width: 999px) {
  .show-sidebar {
    background: #202020 !important;
    padding: 5px 7px;
    border-radius: 5px;
  }
  .tipo-screen {
    position: absolute;
    right: -10px;
    background-color: #d9ff00 !important;
    color: #020202 !important;
    font-weight: 700;
    font-size: 14px !important;
    border-radius: 10px;
    padding: 2px;
  }
  .container_comments {
    width: 80%;
  }
  .sidebar-home {
    width: 100%;
    height: 200px;
    background-color: #363636 !important;
    width: 100%;
  }
  .sidebar-home li {
    color: #d1d1d1;
    margin: 2px 0;
    position: relative;
  }
  .sidebar-home li a {
    display: block;
  }
  .title-home {
    text-align: center;
    margin-top: 4em;
    font-weight: bold;
  }
  .side-desktop {
    display: none;
  }
  .show-sidebar {
    cursor: pointer;
  }
  .container-wrap-sidebar {
    text-align: end;
    color: #00f4f8;
    padding: 10px;
  }
  .sidebar-home li a span {
    position: absolute;
    right: 0;
    background-color: #00f4f8;
    color: #000 !important;
    font-weight: 700;
    font-size: 13px !important;
    border-radius: 30px;
    padding: 3px;
  }
}
